body {
  margin: 0;
  font-family: "Roboto",Arial!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d5d4d4;
  /* background-image: linear-gradient(to bottom right, rgb(236, 152, 236), rgb(227, 227, 70));
  background-repeat: no-repeat; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
